<!DOCTYPE html>
<html>
  <head>
    <title>syspace</title>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="running_app/distance.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
